.page-number{
    font-size: 16px;
    background-color: aqua;
    border-radius: 50%;
    border: none;
    margin: 0 4px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.selected-page-number{
    border: 2px solid aqua;
    background-color: white;
}

.pagination-container{
    flex-grow: 1;
    justify-content: center;
    display: flex;
}

.page-number-container{
    margin: 0 15px;
}

.next-page{
    margin: 2px 8px;
    border: solid aqua 1px;
    background-color: aqua;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
}

.hide-next-page  *{
    stroke: gray;
}

.hide-next-page{
    margin: 2px 8px;
    border: solid gray 1px;
    background-color: rgb(202, 201, 201);
    border-radius: 50%;
    padding: 5px;
    cursor:default;
    font-size: 18px;
}