.delete-selected{
    background-color: tomato;
    cursor: pointer;
    color: white;
    border-radius: 15px;
    font-size: 14px;
    padding: 8px 10px;
    border: none;
}

.table-footer{
    display: flex;
    margin: 20px 40px;
}

.admin-ui{
    padding: 30px 10px;
}

.search-input{
    font-size: 16px;
    padding: 5px;
    width: 98%;

}